<div>
  <br>
  <div class="container">
    <div class="container">
      <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row" fxLayoutAlign="space-around center"
        class="content">
        <div class="blocks">
          <button button="submit" (click)="onAddAccount()" mat-raised-button color="primary">
            <mat-icon>add</mat-icon> Ajouter un nouveau utilisateur
          </button>
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div fxLayout="row" fxLayoutAlign="center center" class="content">
        <mat-card class="card">
          <mat-card-title>
            Utilisateurs
          </mat-card-title>
          <mat-card-content>

            <mat-form-field>
              <mat-label>Rechercher un utilisateur</mat-label>
              <input matInput (keyup)="onFilter($event)">
            </mat-form-field>

            <div class="example-container mat-elevation-z8">

              <table mat-table #table [dataSource]="dataSource" matSort>
            
                <!-- Role Column -->
                <ng-container matColumnDef="roles">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Role(s) </th>
                  <td mat-cell *matCellDef="let user"> {{user.roles | role}} </td>
                </ng-container>
            
                <!-- FirstName Column -->
                <ng-container matColumnDef="firstname">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
                  <td mat-cell *matCellDef="let user"> {{user.firstname}} </td>
                </ng-container>
            
                <!-- LastName Column -->
                <ng-container matColumnDef="lastname">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Prénom </th>
                  <td mat-cell *matCellDef="let user"> {{user.lastname}} </td>
                </ng-container>
            
                <!-- UserName Column -->
                <ng-container matColumnDef="username">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Identifiant </th>
                  <td mat-cell *matCellDef="let user"> {{user.username}} </td>
                </ng-container>
            
                <!-- DateOfBirth Column -->
                <ng-container matColumnDef="birth">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de naissance </th>
                  <td mat-cell *matCellDef="let user"> {{user.birth | date: 'dd/MM/yyyy'}} </td>
                </ng-container>
            
                <!-- UserName Column -->
                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                  <td mat-cell *matCellDef="let user"> {{user.email}} </td>
                </ng-container>
            
                <ng-container matColumnDef="coursesConsulted">
                  <th mat-header-cell *matHeaderCellDef>Les cours à consulter</th>
                  <td mat-cell *matCellDef="let user">
                    <button (click)="onEditCourses(user)" mat-icon-button matTooltip="Cliquer pour voir" class="iconbutton"
                      color="primary">
                      <mat-icon aria-label="Edit">remove_red_eye</mat-icon>
                    </button>
                  </td>
                </ng-container>
            
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>Actions</th>
                  <td mat-cell *matCellDef="let user">
                    <button (click)="onEditAccount(user)" mat-icon-button matTooltip="Cliquer pour voir" class="iconbutton"
                      color="primary">
                      <mat-icon aria-label="Edit">edit</mat-icon>
                    </button>
                    <button (click)="onDeleteAccount(user)" mat-icon-button matTooltip="Cliquer pour supprimer" class="iconbutton"
                      color="warn">
                      <mat-icon aria-label="Delete">delete</mat-icon>
                    </button>
                  </td>
                </ng-container>
            
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>

              <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>