<div _ngcontent-cnq-c187="" id="page"><li _ngcontent-cnq-c187="" class="ng-star-inserted"><ul _ngcontent-cnq-c187="" class="ng-star-inserted"><ul _ngcontent-cnq-c187="" class="ng-star-inserted"><h1 _ngcontent-cnq-c187=""> IA et Jeux : Méthodes de Résolution </h1></ul><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--></ul><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><ul _ngcontent-cnq-c187="" class="ng-star-inserted"><li _ngcontent-cnq-c187="" class="ng-star-inserted"><ul _ngcontent-cnq-c187="" class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><ul _ngcontent-cnq-c187="" class="ng-star-inserted"><h1> Jeu de Nim </h1></ul><!--bindings={
  "ng-reflect-ng-if": "true"
}--></ul><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><ul _ngcontent-cnq-c187="" class="ng-star-inserted"><li _ngcontent-cnq-c187="" class="ng-star-inserted"><ul _ngcontent-cnq-c187="" class="ng-star-inserted"><ul _ngcontent-cnq-c187="" class="ng-star-inserted"><h1 _ngcontent-cnq-c187=""> Le Jeu de Nim est un jeu à deux joueurs qui consiste, étant données n allumettes, à prendre à tour de rôle 1, 2 ou 3 allumettes. Le perdant est le joueur qui prend la dernière allumette.

Il s'agit d'un jeu dit à somme nulle, c'est à dire que la somme des gains et des pertes de tous les joueurs est égale à 0. Dans le cas présent il y a un gagnant et un perdant.

Par opposition on parle de jeu à somme non nulle tel le le dilemme du prisonnier.

Examinons une situation de jeu pour 4 allumettes : </h1></ul><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--></ul><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "0"
}--></li><li _ngcontent-cnq-c187="" class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "0"
}--></li><li _ngcontent-cnq-c187="" class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><ul _ngcontent-cnq-c187="" class="ng-star-inserted"><ul _ngcontent-cnq-c187="" class="ng-star-inserted"><p _ngcontent-cnq-c187=""> Pour 4 allumettes :

    si j'en prends 3, alors je gagne car il ne reste qu'une seule allumette et mon adversaire est contraint de la prendre
    si j'en prends 2, alors je perds car si mon adversaire en prend une seule, alors je serai contraint de prendre la dernière allumette
    si j'en prends 1, alors je perds car si mon adversaire en prend deux, alors je serai contraint de prendre la dernière allumette
 </p></ul><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--></ul><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "0"
}--></li><li _ngcontent-cnq-c187="" class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><ul _ngcontent-cnq-c187="" class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><ul _ngcontent-cnq-c187="" class="ng-star-inserted"><div class="center">
<table class="simple">
<tbody><tr class="simple_header">
	<td>&nbsp;Allumettes<br>restantes&nbsp;</td>
	<td>&nbsp;Allumette(s)<br>prise(s)&nbsp;</td>
	<td>&nbsp;Situation&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;1&nbsp;</td>
	<td>&nbsp;1&nbsp;</td>
	<td>&nbsp;P&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;2&nbsp;</td>
	<td>&nbsp;1&nbsp;</td>
	<td>&nbsp;G&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;3&nbsp;</td>
	<td>&nbsp;2&nbsp;</td>
	<td>&nbsp;G&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;4&nbsp;</td>
	<td>&nbsp;3&nbsp;</td>
	<td>&nbsp;G&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;5&nbsp;</td>
	<td>&nbsp;1,2,3&nbsp;</td>
	<td>&nbsp;P&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;6&nbsp;</td>
	<td>&nbsp;1&nbsp;</td>
	<td>&nbsp;G - situation 5 pour adversaire&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;6&nbsp;</td>
	<td>&nbsp;2&nbsp;</td>
	<td>&nbsp;P - situation 4 pour adversaire&nbsp;</td>
</tr>
<tr>
	<td>&nbsp;6&nbsp;</td>
	<td>&nbsp;3&nbsp;</td>
	<td>&nbsp;P - situation pour adversaire&nbsp;</td>
</tr>
</tbody><caption>Jeu de Nim, situation Gagnante ou Perdante</caption></table>
</div></ul><!--bindings={
  "ng-reflect-ng-if": "true"
}--></ul><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "0"
}--></li><li _ngcontent-cnq-c187="" class="ng-star-inserted"><!--bindings={
  "ng-reflect-ng-if": "false"
}--><ul _ngcontent-cnq-c187="" class="ng-star-inserted"><ul _ngcontent-cnq-c187="" class="ng-star-inserted"><p _ngcontent-cnq-c187=""> Au final, si n=4p+1 alors on perd.

Il s'agit donc d'un jeu qui ne demande aucune IA pour gagner il suffit d'appliquer la formule et faire en sorte que l'adversaire soit dans une situation ou n=4p+1 </p></ul><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--></ul><!--bindings={
  "ng-reflect-ng-if": "true"
}--><!--bindings={
  "ng-reflect-ng-if": "false"
}--><!--bindings={
  "ng-reflect-ng-if": "0"
}--></li><!--bindings={
  "ng-reflect-ng-for-template": "[object Object]"
}--></ul><!--bindings={
  "ng-reflect-ng-if": "5"
}--></li><!--bindings={
  "ng-reflect-ng-for-template": "[object Object]"
}--></ul><!--bindings={
  "ng-reflect-ng-if": "1"
}--></li><!--bindings={
  "ng-reflect-ng-template-outlet-context": "[object Object]"
}--></div>